<h2 class="sub-header">Season 4</h2><button {{action "isEditing"}}>Edit Mode</button> <button {{action "editGame"}}>Save</button><p>{{editing}}</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead> 
            <th>Game Number</th> 
            <th>Game Time</th> 
            <th>Rank</th> 
            <th>Edit</th>
            <th>Delete</th>
        </thead> 
        <tbody> 
            {{#each model as |game|}}
                <tr>
                    <td>{{game.id}}</td>  
                    <td>{{game.createdAt}}</td> 
                    <td>{{game.rank}}</td> 
                    <td>{{game.outcome}}</td>
                    <td>{{#bs-button onClick=(action "editGame")}}Edit{{/bs-button}}</td>
                    <td>{{#bs-button onClick=(action "deleteRecord" game.id)}}Delete{{/bs-button}}</td>
                </tr> 
            {{/each}}
        </tbody> 
    </table>
</div>
